{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2,
        "printWidth": 120,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "useTabs": false
      }
    }
  ]
}
