<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="./billing_config.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Billing Configuration: Segmentation</title>
    <style>
      hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .table th, .table td{
        vertical-align: middle !important;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid" id="nsform">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" style="width: 460px;" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#config_selection"
            >Selection</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#config_exception"
            >Exception</a
          >
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="config_selection" class="main_container container-fluid tab-pane active">
          <br />
          <ul>
            <li v-for="(category, index) in categories">
              <h5>{{category.text}}</h5>
              <table class="table table-borderless table-striped">
                <thead>
                  <tr class="table-success">
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          :id="'cb_cat_all_'+index"
                          v-on:click="markAllCategory(category.id)"
                          :ref="category.id"
                        /><label
                          class="custom-control-label"
                          :for="'cb_cat_all_'+index"
                        >Mark/Unmark All</label>
                      </div>
                    </th>
                    <th>Item</th>
                    <th>Student Year</th>
                    <th>Families</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(instruction, index) in displayedInstructions">
                    <td v-if="instruction.type.id == category.id">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" :id="'cb_instruction_'+index" name="example14" v-model="instruction.checked">
                        <label class="custom-control-label" :for="'cb_instruction_'+index"></label>
                      </div>
                    </td>
                    <td v-if="instruction.type.id == category.id">{{instruction.name}}</td>
                    <td v-if="instruction.type.id == category.id">
                      <select class="form-control multiselect-year" multiple="multiple" :id="'cb_instruction_years_'+index" v-model="instruction.years">
                        <template v-for="year in displayedYears">
                          <option :value="year.id">{{year.name}}</option>
                        </template>
                      </select>
                    </td>
                    <td v-if="instruction.type.id == category.id">
                      <select class="form-control" :id="'cb_instruction_family_'+index" v-model="instruction.family">
                        <option value="">- Select -</option>
                        <option value="1">All</option>
                        <option value="2">Staff</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
        <div id="config_exception" class="main_container container-fluid tab-pane fade">
          <label class="big-bold">Conditions:</label>
          <table class="table table-borderless table-striped mt-3">
            <thead>
              <tr class="table-success">
                <th>Family Code</th>
                <th>Is Debtor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select
                  class="form-control input-xs big-form-control"
                  id="family_code"
                  v-model="selectedFamilyCode"
                  >
                    <option value="">--None--</option>
                    <option v-for="fcode in familyCodes" :value="fcode">
                      {{fcode}}
                    </option>
                  </select>
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isdebtor" v-model="selectedIsDebtor" >
                    <label class="custom-control-label" for="isdebtor"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-borderless table-striped mt-3">
            <thead>
              <tr class="table-success">
                <th>Current Year</th>
                <th>Student Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select class="form-control big-form-control" v-model="selectedCurrentYears">
                    <option value="">--None--</option>
                    <option v-for="fyear in currentYears" :value="fyear.id" :selected="fyear.id == selectedCurrentYears">{{fyear.name}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-control big-form-control" v-model="selectedStuStatus">
                    <option value="">--None--</option>
                    <option v-for="fstatus in stuStatus" :value="fstatus.id" :selected="fstatus.id == selectedStuStatus">{{fstatus.name}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button id="config_submit" v-on:click="savedata()" class="d-none">Submit</button>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('.multiselect-year').multiselect({
          includeSelectAllOption: true,
          allSelectedText: 'Select All',
        });
      });
      function makeid(length) {
          var result           = '';
          var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
          var charactersLength = characters.length;
          for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * 
      charactersLength));
        }
        return result;
      }
    </script>
    
    <script>

      var app = new Vue({
        el: '#nsform',
        data: {
          processed: false,
          tempInstructions: ${formdata.tempInstructions},
          instructions: ${formdata.instructions},
          categories: ${formdata.categories},
          years: ${formdata.years},
          displayedInstructions: ${formdata.instructions},
          displayedYears: ${formdata.years},
          selectedInstruction: {},
          selectedBinstItem: '',
          selectedYear: '',
          selectedDebOpt: '',
          selectedPrice: '',
          selectedFamilyCode: '${formdata.tempData.familyCode}',
          selectedIsDebtor: ${formdata.tempData.isDebtor},
          selectedCurrentYears: '${formdata.tempData.currentYear}',
          selectedStuStatus: '${formdata.tempData.stuStatus}',
          sHome: 'jxkjzjkvjhjhcz',
          allNone: [{id: '1', name: 'All'}, {id: '2', name: 'None'}],
          familyCodes: ${formdata.familyCodes},
          currentYears: ${formdata.currentYears},
          stuStatus: ${formdata.stuStatus},
          subTotalLabel: 'subtotal'
        },
        created(){
        },
        mounted(){
          var statusIds = [];
          var typeIds = [];
          var typeOptions = [];
          var famOrder = [];
          var objDebtorData = {};
          var currDt = new Date();
          var currYear = currDt.getFullYear();

          this.sHome = 'place';

          var vueObj = this;
          this.displayedInstructions = this.instructions.map(function(element){
            var retObj = {
              ...element
            };
            if(vueObj.tempInstructions.indexOf(element.id) > -1){
              retObj.checked = true;
            } else {
              retObj.checked = false;
            }
            return retObj;
          });
        },
        methods:{
          getBinstLabel: function(instId){
            var filterInst = this.displayedInstructions.filter((inst) => inst.id == instId);
            if(filterInst && filterInst.length > 0) return filterInst[0].name;
            return '';
          },
          getYearLabel: function(yearId){
            var filterYear = this.displayedYears.filter((year) => year.id == yearId);
            if(filterYear && filterYear.length > 0) return filterYear[0].name;
            return '';
          },
          getAllNoneLabel: function(anId){
            var filterAN = this.allNone.filter((an) => an.id == anId);
            if(filterAN && filterAN.length > 0) return filterAN[0].name;
            return '';
          },
          getFormatNumber: function (num) {
            return "$" + Number(num).toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
          },
          markAllCategory: function(catId){
            var element = this.$refs[catId];
            for(const disInstruct of this.displayedInstructions) {
              if(Number(disInstruct.type.id) == Number(catId)) {
                disInstruct.checked = element[0].checked;
              }
            }
          },
          savedata: function(){
            console.log("savedata");
            var selectedInstruction = [];
            for(var index = 0; index < this.displayedInstructions.length; index++)
            {
              var cb = document.getElementById('cb_instruction_'+index);
              console.log('cb' + index, cb.checked);

              if(cb.checked){
                console.log('years', $('#cb_instruction_years_' + index).val());
                selectedInstruction.push({
                  id: this.displayedInstructions[index].id,
                  years: $('#cb_instruction_years_' + index).val(),
                  family: $('#cb_instruction_family_' + index).val()
                });
                /* console.log(this.displayedStudents ) */
              }
            }
            console.log('selected instruction', selectedInstruction);
            var selData = {
              instructions: selectedInstruction,
              exception: {
                familyCode: this.selectedFamilyCode,
                isDebtor: this.selectedIsDebtor,
                currentYear: this.selectedCurrentYears,
                stuStatus: this.selectedStuStatus
              },
              itemGroupLines: this.displayedItemGroupLines
            };
            var formData = new FormData();
            formData.append('action', "save");
            formData.append('selecteddata', JSON.stringify(selData));

            $.ajax({
              url : window.location,
              type : 'POST',
              data : formData,
              cache : false,
              contentType : false,
              processData : false,
              success : function(data)
              {
              }
            });
          }
        }
      });
      if (!Array.prototype.includes) {
        Object.defineProperty(Array.prototype, 'includes', {
          value: function (searchElement, fromIndex) {
            if (this == null) {
              throw new TypeError('"this" is null or not defined');
            }
            var o = Object(this);
            var len = o.length >>> 0;

            if (len === 0) {
              return false;
            }

            var n = fromIndex | 0;
            var k = Math.max(n >= 0 ? n : len - Math.abs(n), 0);

            function sameValueZero(x, y) {
              return x === y || (typeof x === 'number' && typeof y === 'number' && isNaN(x) && isNaN(y));
            }

            while (k < len) {
              if (sameValueZero(o[k], searchElement)) {
                return true;
              }
              k++;
            }
            return false;
          },
        });
      }
      if (!Array.prototype.findIndex) {
        Object.defineProperty(Array.prototype, "findIndex", {
          value: function (predicate) {
            // 1. Let O be ? ToObject(this value).
            if (this == null) {
              throw new TypeError('"this" is null or not defined');
            }
    
            var o = Object(this);
    
            // 2. Let len be ? ToLength(? Get(O, "length")).
            var len = o.length >>> 0;
    
            // 3. If IsCallable(predicate) is false, throw a TypeError exception.
            if (typeof predicate !== "function") {
              throw new TypeError("predicate must be a function");
            }
    
            // 4. If thisArg was supplied, let T be thisArg; else let T be undefined.
            var thisArg = arguments[1];
    
            // 5. Let k be 0.
            var k = 0;
    
            // 6. Repeat, while k < len
            while (k < len) {
              // a. Let Pk be ! ToString(k).
              // b. Let kValue be ? Get(O, Pk).
              // c. Let testResult be ToBoolean(? Call(predicate, T, « kValue, k, O »)).
              // d. If testResult is true, return k.
              var kValue = o[k];
              if (predicate.call(thisArg, kValue, k, o)) {
                return k;
              }
              // e. Increase k by 1.
              k++;
            }
    
            // 7. Return -1.
            return -1;
          },
          configurable: true,
          writable: true,
        });
      }
    </script>
  </body>
</html>
