<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" />
    <title>Weddington Academy - Billing Instructions</title>
    <style>
      hr{
        border: 2px solid #42ad4c;
      }
      .customsubmit{
        background-color: teal
      }
      .btn-danger{
        background-color: #42ad4c;
        border-color:  #42ad4c;
      }
      #itemtable th{
        text-align:center;
        //background-color: #42ad4c;
      }
      #itemtable td{
        text-align:center
      }
      #itemtable tr:nth-child(odd){
        background-color: #EAEAEA;
      }
      #itemtable tbody{
        //border: 1px solid #E9E4E3;
      	height: 400px;
        overflow-y:auto;
      }
      #itemtable thead,tbody,tr,td,th{
    	//display:block;
 	  }

      .
    </style>
  </head>
  <body>
  <div id="nsform" class="wrapper">
  <div class="container">
    <div class="row">
       <div class="col">
          <img src="https://tstdrv2525617.app.netsuite.com/core/media/media.nl?id=6899&c=TSTDRV2525617&h=zlQ3ivVdE1qxnJG3gJwsLPJ9ysKkcbmiUsWfabXddsKeFM1N" style="height:75px;">
      </div>
      <div class="col" style="display: none;">
          <a id="linkHome"><img src="https://tstdrv2525617.app.netsuite.com/core/media/media.nl?id=5818&c=TSTDRV2525617&h=W8asQFy5-bEbQ07nYTsI3_GKhCKXcIxJBrZIlLNUWuATRMdQ" style="width:50px; height:50px; float:right;"></a>
      </div>


    </div>
    <div class="row align-items-center">
      <div class="col-md-2">
        <div class="form-group">
          <label>Type:</label>
          <select class="form-control input-xs" v-on:change="typeChanged" v-model="selected_type">
            <option value=""></option>
            <option v-for="option in typeOptions" v-bind:key="option.text" v-bind:value="option.id">{{ option.text }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Apply Instruction:</label>
          <select name="instruction_list" class="form-control input-xs" v-model="selected_instruction" v-on:change="studentFiltersChange">
            <option value=""></option>
            <option v-for="option in displayedInstructions" v-bind:key="option.name" v-bind:value="option.id">{{ option.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Posting Period:</label>
          <select class="form-control input-xs" v-model="selected_year" v-on:change="studentFiltersChange">
          	<option value=""></option>
            <option v-for="option in yearOptions">{{ option }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="float-md-right"><button type="button" class="btn btn-danger" v-on:click="showSummary"> Submit </button></div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row align-items-center">
      <div class="col-md-2">
        <label>Apply Filters:</label>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="float-md-right"><button type="button" class="btn" v-on:click="debtorFiltersChange" v-bind:class="((selected_toggle == 'debtor') ? 'btn-danger' : 'btn-default')" > Debtor </button></div>
        </div>
      </div>
    </div>
    <div class="row align-items-center" v-show="selected_toggle == 'debtor'">
      <div class="col-md-3">
        <div class="form-group">
          <label>Saved Search:</label>
          <select class="form-control input-xs" v-on:change="debtorSSChange" v-model="selected_debtorSS">
            <option value=""></option>
            <option v-for="option in displayedDebtorSearches" v-bind:value="option.id">{{option.text}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Family Code:</label>
          <select class="selectpicker form-control input-xs" data-live-search="true" v-on:change="debtorFiltersChange" v-model="selected_debtorFamCode">
            <option value=""></option>
            <option v-for="option in studentFamCode" v-bind:value="option">{{ option }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Debtor Staff:</label><br/>
          <input type="checkbox" v-model="isDebtorStaffSelected" v-on:change="debtorFiltersChange" >
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col">
        <div class="form-group">
          <div class="float-md-right"><button type="button" class="btn btn-default" v-on:click="selected_toggle = 'student'"> Student </button></div>
        </div>
      </div>
    </div>
    <div class="row align-items-center" v-show="selected_toggle == 'student'">
      <div class="col-md-3">
        <div class="form-group">
          <label>Saved Search:</label>
          <select class="form-control input-xs" v-model="selected_studentSS" v-on:change="studentSSChange">
            <option value=""></option>
            <option v-for="option in displayedStudentSearches" v-bind:value="option.id">{{option.text}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Family Code:</label>
          <select class="selectpicker form-control input-xs" data-live-search="true" v-on:change="studentFiltersChange" v-model="selected_famCode">
            <option value=""></option>
            <option v-for="option in studentFamCode" v-bind:value="option">{{ option }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Student Year:</label>
          <select class="selectpicker form-control input-xs" data-live-search="true" v-on:change="studentFiltersChange" v-model="selected_sy">
            <option value=""></option>
            <option v-for="option in studentYearOptions" v-bind:value="option">{{ option }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Debtor Staff:</label><br/>
          <!--  style="height:36px;" -->
         <div style="height:36px;"> <input type="checkbox" v-model="isStudentStaffSelected" v-on:change="studentFiltersChange" id="debtorstaffCheckbox"></div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Family Order:</label>
          <select class="selectpicker form-control input-xs" data-live-search="true" v-on:change="studentFiltersChange" v-model="selected_famOrder">
            <option value=""></option>
            <option v-for="option in familyOrderOptions" v-bind:value="option">{{ option }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="float-md-right"><button type="button" class="btn btn-danger" v-on:click="selected_toggle = 'student'"> Student </button></div>
        </div>
      </div>
    </div>
    <div class="row align-items-center" v-show="selected_toggle == 'student'">
    <!-- <div class="col-md-2">
        <div class="form-group">
          <label>Family Order:</label>
          <select class="selectpicker form-control input-xs" data-live-search="true" v-on:change="studentFiltersChange" v-model="selected_famOrder">
            <option value=""></option>
            <option v-for="option in familyOrderOptions" v-bind:value="option">{{ option }}</option>
          </select>
        </div>
      </div>-->
      <div class="col-md-2">
      </div>
    </div>
    <hr/>
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="form-group">
          <div align="right" v-show="selected_toggle =='student'"><b>Total Lines: {{displayedStudents.length}}</b></div>
          <div align="right" v-show="selected_toggle =='debtor'"><b>Total Lines: {{displayedDebtors.length}}</b></div>
          <table id="itemtable" class="table" width="100%" v-show="selected_toggle =='student'">
          <thead class="thead-dark">
          <tr>
            <th><input type="checkbox" v-on:click="checkallStudent()" v-model="check_all_student"></th>
            <th>Student Year</th>
            <th>Student Status</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Debtor</th>
            <th>Family Code</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(student,index) in displayedStudents">
              <td><input type="checkbox" v-bind:id="'cb_student_'+index"></td>
              <td>{{student.year}}</td>
              <td>{{student.status.text}}</td>
              <td>{{student.firstname}}</td>
              <td>{{student.lastname}}</td>
              <td>{{student.debtor}}</td>
              <td>{{student.famcode}}</td>
            </tr>
           </tbody>

          </table>
          <!--  <p>
			<button @click="prevPage">Previous</button>
		    <button @click="nextPage">Next</button>
          </p>-->
          <table id="itemtable" class="table" width="100%" v-show="selected_toggle =='debtor'">
          <thead class="thead-dark">
          <tr>
            <th><input type="checkbox" v-on:click="checkallDebtor()" v-model="check_all_debtor"></th>
            <th>debtor Id</th>
            <th>Name</th>
            <th>Family Code</th>
          </tr>
          </thead>

            <tr v-for="(debtor,index) in displayedDebtors">
              <td><input type="checkbox" v-bind:id="'cb_debtor_'+index"></td>
              <td>{{debtor.debtorId}}</td>
              <td>{{debtor.name}}</td>
              <td>{{debtor.famCode}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
	<!-- Modal -->
	<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header" style="border-top: 4px solid #42ad4c;">
			<h5 class="modal-title" id="exampleModalLabel">Summary</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p class="mb-0">The following items will be applied.</p>
			<table class="table table-sm table-bordered table-striped">
				<thead>
					<tr>
						<th>Type</th>
						<th>Instruction</th>
						<th>Period</th>
						<th>Total</th>
					</tr>
				</thead>
					<tr>
						<td>{{selectedType.name}}</td>
						<td>{{selectedInstruction.name}}</td>
						<td>{{selected_year}}</td>
						<td>{{selectedData.length}}</td>
					</tr>
				<tbody>
				</tbody>
			</table>

			<table class="table table-sm table-bordered table-striped" v-show="selected_toggle == 'debtor'" v-on:click="debtorFiltersChange">
				<thead>
					<tr>
						<th>Debtor</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="student in selectedData">
						<td>{{ student.debtorname }}</td>
					</tr>
				</tbody>
			</table>
			<p>Press <b>YES</b> to continue or <b>NO</b> to cancel.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" v-on:click="submitForm">Yes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
		</div>
		</div>
	</div>
	</div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script>
	  var sUrl = new URL(window.location.href);
	  //console.log('url='+url);
	  sUrl = sUrl.href;

	  //"https://4553194-sb1.app.netsuite.com/app/center/card.nl?sc=-29&whence="

	  var newurl = sUrl.substring(0, sUrl.indexOf('app') + 'app'.length) + '.netsuite.com/app/center/card.nl?sc=-29';

	  console.log('newurl',newurl);
      document.getElementById("linkHome").setAttribute("href",newurl);

	var app = new Vue({
    el: '#nsform',
		data: {
			processed: false,
			selected_sy: '',
			selected_studentStatus: '',
			selected_debtorStudentStatus: '',
			selected_famCode: '',
			selected_debtorFamCode: '',
			selected_type: '',
			selected_instruction: '',
			selected_toggle: '',
			selected_studentSS: '',
			selected_debtorSS: '',
			selected_famOrder: '',
			selected_year: '',
			check_all_student: false,
			check_all_debtor: false,
			students: ${formdata.students},
			debtors: ${formdata.debtors},
			searches: ${formdata.searches},
			instructions: ${formdata.instructions},
			yearOptions: [],
			studentYearOptions: '',
			studentStatusOptions: ${formdata.studentstatusoptions},
			familyOrderOptions: '',
			typeOptions: '',
			studentFamCode: '',
			displayedStudents: [],
			displayedInstructions: ${formdata.instructions},
			displayedDebtors: [],
			displayedDebtorSearches: '',
			displayedStudentSearches: '',
			data: ${formdata.data},
			isStudentStaffSelected: false,
			isDebtorStaffSelected: false,
			objDebtorStudentData: '',
			selectedType: {},
			selectedInstruction: {},
			selectedData: [],
			pageSize:10,
			currentPage:1,
			selectedButton: '',
			sHome: 'jxkjzjkvjhjhcz',
			selecteStudentCount: 0
		},
		created(){
		},
		mounted()
		{
			var studentYearOptions = [];
			var studentStatusOptions = [];
			var famCode = [];
			var statusIds = [];
			var typeIds = [];
			var typeOptions = [];
			var famOrder = [];
			var objDebtorData = {};
			var currDt = new Date();
			var currYear = currDt.getFullYear();

			this.yearOptions.push(currYear);
			this.yearOptions.push(currYear + 1);

			this.sHome = 'place';

			for(var index = 0; index < this.debtors.length; index++)
			{
				if(this.debtors[index].staff == this.isDebtorStaffSelected)
				{
					this.displayedDebtors.push(this.debtors[index]);
				}
			}

			if(this.data.studentSS)
			{
				this.selected_studentSS = this.data.studentSS;
			}

			if(this.data.debtorSS)
			{
				this.selected_debtorSS = this.data.debtorSS;
			}

			for(var index = 0; index < this.students.length; index++)
			{
				var objStudent = this.students[index];

				if(studentYearOptions.indexOf(objStudent.year) < 0 && objStudent.year)
				{
					studentYearOptions.push(objStudent.year);
				}

				if(famCode.indexOf(objStudent.famcode) < 0 && objStudent.famcode)
				{
					famCode.push(objStudent.famcode);
				}

				if(famOrder.indexOf(objStudent.famorder) < 0 && objStudent.famorder)
				{
					famOrder.push(objStudent.famorder)
				}

				//roach -update to display all including debtors
				var nStudent = 0;
				if(objStudent.staff == this.isStudentStaffSelected || objStudent.staff != this.isStudentStaffSelected)
				{
					this.displayedStudents.push(objStudent);
				}

				if(objStudent.debtorId)
				{
					if(!objDebtorData[objStudent.debtorId])
					{
						objDebtorData[objStudent.debtorId] = [];
					}

					objDebtorData[objStudent.debtorId].push(objStudent);
				}
			}

			this.objDebtorStudentData = objDebtorData;

			for(var index = 0; index < this.instructions.length; index++)
			{
				var objInstruction = this.instructions[index];

				if(typeIds.indexOf(objInstruction.type.id) < 0)
				{
					typeIds.push(objInstruction.type.id);
					typeOptions.push(objInstruction.type);
					/* console.log(typeOptions) */
				}
			}

			this.studentYearOptions = studentYearOptions.sort(function(a, b){return a-b});
			this.familyOrderOptions = famOrder;
			this.studentFamCode = famCode;
			this.typeOptions = typeOptions;
			console.log('this.button=' + this.selectedButton + ' -' + this.data.selectedButton +' ' + window.location  + ' ' + window.location.href);

			//get param for button
			var url = new URL(window.location.href);
			console.log('url='+url);
            var query_string = url.search;
			var search_params = new URLSearchParams(query_string);
			var sButtonValue = search_params.get('selectedButton');
			console.log('sButtonValue='+sButtonValue);
			this.selected_toggle = sButtonValue || 'student';
			this.displayedDebtorSearches = [];
			this.displayedStudentSearches = [];

			for(var index = 0; index < this.searches.length; index++)
			{
				var objSearch = this.searches[index];

				// student
				if(objSearch.type.id == '1')
				{
					this.displayedStudentSearches.push(objSearch.search)
				}
				else
				{
					// debtor
					this.displayedDebtorSearches.push(objSearch.search)
				}
			}
		},
		methods:
		{
			typeChanged: function(e)
			{
				this.displayedInstructions = [];
				this.selected_instruction = '';
				this.selectedType.name = e.target.options[e.target.options.selectedIndex].text;

				for(var index = 0; index < this.instructions.length; index++)
				{
					var objInstruction = this.instructions[index];
					if(objInstruction.type.id == this.selected_type || !this.selected_type)
					{
						this.displayedInstructions.push(objInstruction);
					}
				}
			},
		    nextPage:function() {
		        if((this.currentPage*this.pageSize) < this.cats.length) this.currentPage++;
		      },
		    prevPage:function() {
		        if(this.currentPage > 1) this.currentPage--;
		      },
			studentFiltersChange: function(e)
			{
				console.log('debtor staff changed student length' + this.displayedStudents.length);
				console.log('return 1 ', document.getElementById('debtorstaffCheckbox').checked);
				if(e.target.name == 'instruction_list') {
					this.selectedInstruction.name = e.target.options[e.target.options.selectedIndex].text;
				}

				if(this.selected_toggle == 'debtor')
				{
					//console.log('field change triggered for debtors')
					this.debtorFiltersChange();
					return;
				}
				for(var index = 0; index < this.displayedStudents.length; index++)
				{
					var cb = document.getElementById('cb_student_'+index);
					cb.checked = false;
				}

				this.displayedStudents = [];
				for(var index = 0; index < this.students.length; index++)
				{
					var objStudent = this.students[index];
					var include = this.checkStudentCondition(objStudent)
					//console.log(this.selectedInstruction);
					if(include)
					{
						this.displayedStudents.push(objStudent);
					}
				}
				/* console.log(this.displayedStudents) */
			},
			debtorFiltersChange: function(e)
			{
				this.selected_toggle = 'debtor';
				console.log('this.selected_toggle:'+this.selected_toggle);
				var isExisting = false;
				this.displayedDebtors = [];
				var parameters = '&debtorid=true&period='+this.selected_year+'&instruction='+this.selectedInstruction.name;
				var debtorIds = [];
				if(this.selected_year && this.selectedInstruction.name)
				{
					$.ajax({
						url : 'https://4553194.app.netsuite.com/app/site/hosting/scriptlet.nl?script=564&deploy=1'+parameters,
						type : 'GET',
						async: false,
						success : function(data)
						{
							debtorIds = JSON.parse(data);
						}
					});
				}

				for(var index = 0; index < this.debtors.length; index++)
				{
					var objDebtor = this.debtors[index];

					//console.log(this.displayedDebtors);


					var include = this.checkDebtorCondition(objDebtor,debtorIds)

					if(include)
					{
						//console.log('test2'+isExisting);
						this.displayedDebtors.push(objDebtor);
					}
				}
				/* console.log(this.displayedDebtors) */
			},
			debtorSSChange: function(e)
			{
				var reloadPage = confirm('Reload page to reflect selected saved search');
				console.log('debtorSSChange');
				if(!reloadPage)
				{
					this.selected_debtorSS = this.data.debtorSS;
					return;
				}
				this.selectedButton = 'debtor';
				var url = location.origin + location.pathname;

				var arrParams = location.search.split('?');
				arrParams = arrParams[1].split('&');
				var stParams = '';
				var hasDebtorsParams = false;
				var hasButtonParams = false;

				for(var index = 0; index < arrParams.length; index++)
				{
					if(index != 0)
					{
						stParams += '&';
					}

					var arrInnerParams = arrParams[index].split('=');
					console.log('arrInnerParams[0]='+arrInnerParams[0]);
					if(arrInnerParams[0] == 'debtorSS')
					{
						hasDebtorsParams = true;
						stParams += 'debtorSS=' + this.selected_debtorSS;
					}else if(arrInnerParams[0] == 'selectedButton'){
						hasButtonParams = true;
						stParams += 'selectedButton=' + 'debtor';
					}
					else
					{
						stParams += arrParams[index];
					}
				}

				if(!hasDebtorsParams)
				{
					stParams += '&debtorSS=' + this.selected_debtorSS;
				}
				if(!hasButtonParams){
					stParams += '&selectedButton=' + 'debtor';
				}

				url += '?' + stParams;

				console.log('url=' + url)
				window.location = url;
			},
			studentSSChange: function(e)
			{
				var reloadPage = confirm('Reload page to reflect selected saved search');
				console.log('studentSSChange');
				if(!reloadPage)
				{
					this.selected_studentSS = this.data.studentSS;
					return;
				}

				var url = location.origin + location.pathname;

				var arrParams = location.search.split('?');
				arrParams = arrParams[1].split('&');
				var stParams = '';
				var hasStudentsParams = false;
				var hasButtonParams = false;

				for(var index = 0; index < arrParams.length; index++)
				{
					if(index != 0)
					{
						stParams += '&';
					}

					var arrInnerParams = arrParams[index].split('=');

					if(arrInnerParams[0] == 'studentSS')
					{
						hasStudentsParams = true;
						stParams += 'studentSS=' + this.selected_studentSS;
					}else if(arrInnerParams[0] == 'selectedButton'){
						hasButtonParams = true;
						stParams += 'selectedButton=' + 'student';
					}
					else
					{
						stParams += arrParams[index];
					}
				}

				if(!hasStudentsParams)
				{
					stParams += '&studentSS=' + this.selected_studentSS;
				}
				if(!hasButtonParams){
					stParams += '&selectedButton=' + 'student';
				}
				url += '?' + stParams;
				console.log('url='+url);
				window.location = url;
			},
			checkStudentCondition: function(objStudent)
			{
				var isExisting = false;
				var parameters = '&studentid='+objStudent.id+'&period='+this.selected_year+'&instruction='+this.selectedInstruction.name+'&year='+this.selected_sy+'&code='+this.selected_famCode;

				if(objStudent.id && this.selected_year && this.selectedInstruction.name && this.selected_sy)
				{
					$.ajax({
						url : 'https://4553194.app.netsuite.com/app/site/hosting/scriptlet.nl?script=564&deploy=1'+parameters,
						type : 'GET',
						success : function(data)
						{
							//alert(data);
							if(data=="false")
							{
								isExisting = true;
							}
						}
					});
				}




				//return false;
				console.log('return ', document.getElementById('debtorstaffCheckbox').checked);

				if(document.getElementById('debtorstaffCheckbox').checked == true ){
					//console.log(objStudent);
					if((objStudent.year == this.selected_sy || !this.selected_sy) &&
							(objStudent.status.id == this.selected_studentStatus || !this.selected_studentStatus) &&
							(objStudent.famcode == this.selected_famCode || !this.selected_famCode) &&
							objStudent.staff == this.isStudentStaffSelected &&
							(objStudent.famorder == this.selected_famOrder || !this.selected_famOrder) &&
							(!this.selected_year || !this.selected_instruction || this.checkAppliedToData(objStudent)))
					{


						if(isExisting)
						{
							return false;
						}
						else
						{
							return true;
						}
					}

					return false;
				}else{
					//return true;
					if((objStudent.year == this.selected_sy || !this.selected_sy) &&
							(objStudent.status.id == this.selected_studentStatus || !this.selected_studentStatus) &&
							(objStudent.famcode == this.selected_famCode || !this.selected_famCode) &&
							(objStudent.famorder == this.selected_famOrder || !this.selected_famOrder) &&
							(!this.selected_year || !this.selected_instruction || this.checkAppliedToData(objStudent)))
					{


						if(isExisting)
						{
							return false;
						}
						else
						{
							return true;
						}
					}

					return false;
				}
			},
			checkAppliedToData: function(objStudent)
			{
				var arrAppliedToData = objStudent.appliedToData;
				for(var index = 0; index < arrAppliedToData.length; index++)
				{
					var objAppliedToData = arrAppliedToData[index];
					/* console.log(this.selected_instruction); */
					/* console.log(this.selected_year); */
					/* console.log('applied data'); */
					/* console.log(objAppliedToData); */

					if(this.selected_instruction == objAppliedToData.instruction &&
							this.selected_year == objAppliedToData.period)
					{
						return false;
					}
				}

				return true;

				/*
				if(objStudent.objAppliedToData.indexOf(this.selected_year) < 0))
				{
					return true
				}
				*/
			},
			checkDebtorCondition: function(objDebtor,debtorIds)
			{
				var ret = false;

				var isExisting = false;

				if(debtorIds.indexOf(objDebtor.debtorId)!=-1)
				{
					return false;
				}

				if((objDebtor.famCode == this.selected_debtorFamCode || !this.selected_debtorFamCode) &&
						objDebtor.staff == this.isDebtorStaffSelected)
				{
					ret = true;
				}

				var debtorData = this.objDebtorStudentData;
				var arrDebtorData = debtorData[objDebtor.debtorId];

				if(this.selected_debtorStudentStatus)
				{
					if(arrDebtorData)
					{
						ret = false;
						for(var index = 0; index < arrDebtorData.length; index++)
						{
							var objStudentData = arrDebtorData[index];
							if(objStudentData.status.id == this.selected_debtorStudentStatus)
							{
								ret = true;

								break;
							}
						}
					}
					else
					{
						ret = false;
					}
				}

				return ret;


			},
			checkallStudent: function()
			{
				for(var index = 0; index < this.displayedStudents.length; index++)
				{
					var cb = document.getElementById('cb_student_'+index);
					cb.checked = !this.check_all_student;
				}
			},
			checkallDebtor: function()
			{
				for(var index = 0; index < this.displayedDebtors.length; index++)
				{
					var cb = document.getElementById('cb_debtor_'+index);
					cb.checked = !this.check_all_debtor;
				}
			},
			showSummary: function() {
				if(!this.selected_instruction)
				{
					alert('Please select an instruction');
					return;
				}

				if(!this.selected_year)
				{
					alert('Please select a posting period');
					return;
				}
				this.selectedData = this.getSelectedData();
				if(this.selectedData.length == 0)
				{
					alert('Please select a row');
					return;
				}

				$('#summaryModal').modal('show');
			},
			getSelectedData() {
				arrayData = [];
				if(this.selected_toggle == 'student')
				{

					for(var index = 0; index < this.displayedStudents.length; index++)
					{
						var cb = document.getElementById('cb_student_'+index);

						if(cb.checked)
						{
							var objSelectedStudent = {};
							objSelectedStudent.student = this.displayedStudents[index].id;
							objSelectedStudent.debtor = this.displayedStudents[index].debtorId;
							objSelectedStudent.debtorname = this.displayedStudents[index].debtor;
							objSelectedStudent.studentYear = this.displayedStudents[index].year;
							objSelectedStudent.studentName = this.displayedStudents[index].firstname +' '+ this.displayedStudents[index].lastname;
							arrayData.push(objSelectedStudent);
							/* console.log(this.displayedStudents ) */
						}
					}
				}
				else{
					for(var index = 0; index < this.displayedDebtors.length; index++)
					{
						var cb = document.getElementById('cb_debtor_'+index);

						if(cb.checked)
						{
							var objSelectedDebtor = {};
							objSelectedDebtor.debtor = this.displayedDebtors[index].debtorId;
							objSelectedDebtor.debtorname = this.displayedDebtors[index].debtor;
							arrayData.push(objSelectedDebtor);
						}
					}
				}
				return arrayData;
			},
			submitForm: function()
			{
				var arrData = [];
				if(this.selected_toggle == 'student')
				{
					var arrData = this.getSelectedData();
				}
				else
				{
					for(var index = 0; index < this.displayedDebtors.length; index++)
					{
						var cb = document.getElementById('cb_debtor_'+index);

						if(cb.checked)
						{
							var objSelectedDebtor = {};
							objSelectedDebtor.debtor = this.displayedDebtors[index].debtorId;
							arrData.push(objSelectedDebtor);
						}
					}
				}

				if(!this.selected_instruction)
				{
					alert('Please select an instruction');
					return;
				}

				if(!this.selected_year)
				{
					alert('Please select a posting period');
					return;
				}

				if(arrData.length == 0)
				{
					alert('Please select a row');
					return;
				}

				if(!this.processed)
				{
					this.processed = true;

					var formData = new FormData();
					formData.append('action', 'process');
					formData.append('selectedData', JSON.stringify(arrData));
					formData.append('selectedInstruction', this.selected_instruction);
					formData.append('selectedType', this.selected_type);
					formData.append('selectedYear', this.selected_year)

					$.ajax({
						url : window.location,
						type : 'POST',
						data : formData,
						cache : false,
						contentType : false,
						processData : false,
						success : function(data)
						{
							location.reload();
						}
					});
				}
			}
		}
	});
	</script>
  </body>
</html>
