/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: white;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 300px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.table-success th, .list-group-item-success {
    background-color: #28a745;
    color: white;
}
.sidebar-header{
    border-bottom: 1px solid #cbcbcb;
}
#sidebar{
    border-right:1px solid #cbcbcb;
}
.list-group-item{
    border:0px;
    color:#cbcbcb;
    text-align: right;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    padding: 1rem 1.25rem;
}
.list-group-item:hover .list-icon,.list-group-item-success .list-icon{
    background:#23733b;
    color:white;
}
.list-group-item:hover{
    color: #23733b;
}
.list-group-item-success{
    background: #fff;
    color:#23733b;
}
.list-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    color: #cbcbcb;
    border:1px solid #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.list-group-item:hover .list-pointer,.list-group-item-success .list-pointer{
    position: absolute;
    top: 28px;
    right: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #23733b;
}
.list-group{
    margin-top: 20px;
}
.nav-tabs{
    background: #f6f6f6;
    border: 0px;
    margin-top:20px;
    padding:10px 20px;
    border-radius: 20px;
}
.nav-tabs .nav-item{
    padding-right: 25px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: linear-gradient(90deg, rgba(35,115,59,1) 0%, rgba(35,115,59,1) 46%, rgba(134,188,115,1) 100%);
    color:#fff;
    border-radius: 15px;
    border:0;
}
.nav-tabs .nav-link{
    color:#96a0b5;
}
.nav-tabs .nav-link{
    border: 0px;
}
.text-right .add-category{
    background: linear-gradient(90deg, rgba(35,115,59,1) 0%, rgba(35,115,59,1) 46%, rgba(134,188,115,1) 100%);
    color:#fff !important;
    border-radius: 15px;
    padding:10px 20px;
    border:0px;
    margin-top:20px;
    margin-right:20px;
}
.text-right .add-category:hover{
    text-decoration: none;
}
#config_categories  .card-header{
    background: #fff;
    border:0px;
}
.table-success th{
    background-color: #53a451;
    color: white;
}
.table-success th:first-child{
    border-top-left-radius: 15px;
}
.table-success th:last-child{
    border-top-right-radius: 15px;
}
.card{
    border: 0;
}
.text-success{
    color:rgb(35,115,59) !important;
}
.main_container{
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 15px solid rgb(35,115,59);
    margin-top: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.custom-control-label::before{
    border: #53a451 solid 1px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #53a451;
    background-color: #53a451;
}
.custom-control-label img{
    margin-top: -8px;
}
.form-control{
    border: 2px solid #bbbccc;
    border-radius: .75rem;

}
.big-form-control{
    height: calc(2.3em + .75rem + 2px) !important;
    padding: .75rem .75rem;
    width: 80%;
    max-width: 350px;
    border: 2px solid #bbbccc!important;
    border-radius: 0.75rem!important;
}
.multi-select-big-form-control{
    height: calc(2.3em + .75rem + 2px) !important;
    padding: .75rem .75rem;
    border: 2px solid #bbbccc!important;
    border-radius: 0.75rem!important;
}
.medium-form-control{
    height: calc(2.3em + .75rem + 2px);
    padding: .75rem .75rem;
    width: 80%;
    max-width: 300px;
    min-width: 200px;
}
.student-group{
    display: flex;
    margin-bottom: 30px;
}
.bold{
    font-weight: 700;
}
.big-bold{
    font-weight: 700;
    font-size:24px;
}
.total td{
    background: #dff5e2;
}
.vertical-center{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.sub-table tbody tr:nth-of-type(odd){
    background-color:  #fff !important;
}
.sub-table thead tr th{
    color: #53a451;
}
.sub-table thead tr:nth-of-type(odd){
    background-color:  #fff !important;
}
.remove-top-bottom-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}
button{
    background: linear-gradient(90deg, rgba(35,115,59,1) 0%, rgba(35,115,59,1) 46%, rgba(134,188,115,1) 100%);
    color:#fff !important;
    border-radius: 15px;
    padding:10px 20px;
    border:0px;
}
button:hover{
    border:0px !important;
    transition: none !important;
    border-color: #fff;
}
button.inactive{
    background: transparent;
    border: 2px solid black!important;
    color: black!important;
}
button:focus {
    outline: none;
}
button.close{
    background: #fff;
    color:#000 !important;
}
button.save-btn{
    background:rgba(35,115,59,1);
    border: rgba(35,115,59,1);
}
button.close-btn{
    background: #6c757d;
    border: #6c757d;
}
.modal-body .message-box{
    color:#ff0000;
    font-weight: 600;
    font-size: 16px;
    padding: 1rem;
}
.modal-body .big-form-control{
    width: 100%;
    max-width: 500px;
}
.modal-dialog{
    margin: calc(50vh - 100px) auto;
}
.remove_bottom_select{
    margin-bottom: 0px;
}
.card-header{
    background-color: transparent;
    border-bottom: none;
}
.deactive{
    border:2px solid #bbbccc !important;
    color:#7b7d8d !important;
    height:44px;
    background: #fff;
}
.deactive:hover{
    border:2px solid #bbbccc !important;
}
.payment_schedule{
    border:2px solid #bbbccc !important;
    color:#7b7d8d !important;
    height:44px;
    background: #fff;
}
.payment_schedule:hover{
    border:2px solid #bbbccc !important;
}
.ps_active{
    background: linear-gradient(90deg, rgba(130,132,146,1) 0%, rgba(148,149,159,1) 46%, rgba(169,170,173,1) 100%);
    color:#fff !important;
    border:0px !important;
    border-color: #fff;
    transition: none !important;
}
.ps_active:hover{
    border:0px !important;
}
.custom_date{
    background: transparent;
    border:2px solid #bbbccc;
    border-right-width: 0px;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    padding-left: 1.25rem;
}
.fa-calendar:before{
    content: '\f272';
    transform: scale(1.5,1);
}
.custom_date_input{
    border-left-width: 0px;
    max-width: 300px;
}
.remove-padding-left-right{
    padding-left: 0px;
    padding-right: 0px;
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.execute{
    height: 44px;
    border:0px;
    width: 150px;
    margin-left: 40px;
}
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}
.multiselect-option,.multiselect-all{
    background: #fff;
    color:black !important;
    border-radius: 0px;
}
.multiselect-all{
    font-weight: normal;
}
.dropdown-item.active .form-check-input{
    background-color:#53a451;
}
.btn-group{
    width: 100%;
    border: 2px solid #bbbccc;
    border-radius: .75rem;
}
.btn-group .dropdown-toggle{
    color: black !important;
    border-radius: .75rem;
    border-color:  white;
}
.multiselect-container.dropdown-menu{
    width: 100%;
}
.checkbox-buttons .hidden {position:absolute;visibility:hidden;opacity:0;}
.checkbox-buttons input[type=checkbox] + label {
    color: #7b7d8d;
    padding: 10px 20px;
    border: 2px solid #bbbccc !important;
    border-radius: 15px;
    height: 44px;
    background: #fff;
    cursor: pointer;
}
.checkbox-buttons input[type=checkbox]:checked + label {
    color: #fff;
    background: linear-gradient(90deg, rgba(130,132,146,1) 0%, rgba(148,149,159,1) 46%, rgba(169,170,173,1) 100%);
    cursor: pointer;
}
.checkbox-buttons label{
    margin-right: 30px;
}
.table th, .table td{
    vertical-align: middle !important;
}
.exclude_include .custom-control-label::before{
    top:.65rem !important;

}
.exclude_include .custom-control-label::after{
    top:.65rem !important;

}
.voluntary .custom-control-label::before{
    top:0.65rem !important;
}
.voluntary .custom-control-label::after{
    top:0.65rem !important;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 300px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


#itemtable th {
    text-align: center;
    border-top: none;
}
#itemtable td {
    text-align: center;
}
#itemtable tr:nth-child(odd) {
    background-color: #eaeaea;
}
#itemtable tbody {
    max-height: 400px;
    overflow-y: auto;
}

#config_selection ul{
    list-style-type: none;
}